@font-face {
  font-family: "AboveTheBeyond";
  src: url("/fonts/above-the-beyond-script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;